Options -Indexes

<IfModule mod_rewrite.c>
RewriteEngine On
# After configuring HTTPS in XAMPP, uncomment the next three lines to force HTTPS.
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>
